<!-- start custom footer snippets -->
<div class="foot-box">

<!-- ####################################################
  FIRST COLUMN
##################################################### -->
  <div class="box">
      <h3 style="color:#e0c74f; margin-top:0px;"> {{ site.t[page.lang].contact-us }}</h3>
      <p><b>Dictionary of African Christian Biography</b></br>
      Center for Global Christianity and Mission</br>
      745 Commonwealth Avenue</br>
      Boston, Massachussetts 02215, USA</br>
      Email: dacb@bu.edu</p>
  </div>

<!-- ####################################################
  SECOND COLUMN
  ##################################################### -->
  <div class="box">
      <h3 style="color:#e0c74f; margin-top:0px;">{{ site.t[page.lang].submit-stories }}</h3>
        {% if page.lang == 'en' %}
          <p>If you would like to submit a story to the DACB, you can find free resources and submission guidelines <a href="{{ site.url }}/contribute/submit/">here</a>.</p>
          <a href="{{site.url}}/contribute/submit/" class="btn btn--inverse">{{ site.t[page.lang].submit-stories }}</a>
        {% endif %}
        {% if page.lang == 'fr' %}
          <p>Si vous souhaitez soumettre une histoire au DACB, vous pouvez trouver des ressources gratuites et des directives de soumission <a href="{{ site.url }}/fr/contribute/submit/">ici</a>.</p>
          <a href="{{site.url}}/fr/contribute/submit/" class="btn btn--inverse">{{ site.t[page.lang].submit-stories }}</a>
          {% endif %}
        {% if page.lang == 'pt' %}
          <p>Se você gostaria de enviar uma história ao DACB, você pode encontrar recursos gratuitos e diretrizes de submissão <a href="{{ site.url }}/pt/contribute/submit/">aqui</a>.</p>
          <a href="{{site.url}}/pt/contribute/submit/" class="btn btn--inverse">{{ site.t[page.lang].submit-stories }}</a>
        {% endif %}
        {% if page.lang == 'sw' %}
          <p>Ikiwa ungependa kuwasilisha hadithi kwa DACB, unaweza kupata rasilimali za bure na miongozo ya kuwasilisha <a href="{{ site.url }}/sw/contribute/submit/">hapa</a>.</p>
          <a href="{{site.url}}/sw/contribute/submit/" class="btn btn--inverse">{{ site.t[page.lang].submit-stories }}</a>
        {% endif %}
  </div>

<!-- ####################################################
  THIRD COLUMN
##################################################### -->
<div class="box-end">
    <h3 style="color:#e0c74f; margin-top:0px;">{{ site.t[page.lang].newsletter }}</h3>
    {% if page.lang == 'en' %}
        <p>Want to stay updated on new happenings at the DACB? Sign up for our e-newsletter here.</p>
        <form action="/action_page.php">
          Email: <input type="text" name="firstname" value="Email"> <input type="submit" value="Submit">
        </form>
    {% endif %}
    {% if page.lang == 'fr' %}
        <p>WVous voulez rester à jour sur les nouveaux événements au DACB? Inscrivez-vous à notre newsletter électronique ici.</p>
        <form action="/action_page.php">
          Email: <input type="text" name="firstname" value="Email"> <input type="submit" value="Envoyer">
        </form>
    {% endif %}
    {% if page.lang == 'pt' %}
        <p>Quer ficar atualizado sobre novos acontecimentos no DACB? Inscreva-se no nosso boletim informativo aqui.</p>
        <form action="/action_page.php">
          Email: <input type="text" name="firstname" value="Email"> <input type="submit" value="Enviar">
        </form> {% endif %}
    {% if page.lang == 'sw' %}
        <p>Unataka kukaa updated juu ya matukio mapya katika DACB? Ishara kwa jarida letu la e-mail hapa.</p>
        <form action="/action_page.php">
          Email: <input type="text" name="firstname" value="Email"> <input type="submit" value="Kutuma">
        </form>
    {% endif %}
</div>
<!-- end custom footer snippets -->
