{% if forloop.first %}
{% assign check = page.institution %}
  <div>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <table><tbody><tr>
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/stories/institution-sort/#{{ page.institution | slugify }}">
          {{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }} </p></td>
      </tr></tbody></table>
  </article>
  </div>
{% elsif page.institution == check %}
{% continue %}
{% elsif page.institution != check %}
{% assign check = page.institution %}
  <div>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <table><tbody><tr>
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/stories/institution-sort/#{{ page.institution | slugify }}">
          {{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }} </p></td>
      </tr></tbody></table>
  </article>
  </div>
{% endif %}
