<div><article>
<table width=100%><tbody><tr>
    <td width=20%>{% if page.author == '' %} {{ site.t[include.parent_lang].anonymous }} {% else %} {{ page.author }} {% endif %}</td>
    <td width=25%>
      {% if page.lang == parent_lang %}
              <a href="{{ page.url | relative_url}}">{{ page.title }}</a></td>
      {% elsif page.languages-available contains parent_lang %}
              <a href="/{{parent_lang}}{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.title }}</a></td>
      {% else %}
              <a href="{{ page.url | relative_url}}">{{ page.title }}</a>
      {% endif %}
    </td>
    <td width=20%>
      {% assign aff = site.t[page.affiliation].[include.parent_lang] %}
      {% if aff == nil and page.affiliation == '' %} {{ site.t[include.parent_lang].non-affiliated }} {% else %} {{ aff }} {% endif %}
      {% if aff == nil and page.affiliation != '' %} {{ page.affiliation | capitalize }} {% endif %}
    </td>
    <td width=20%>{{ site.t[page.country].[include.parent_lang] }}</td>
    <td width=15%>
      <a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase }}</a>
      <a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase }}</a>
      <a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase }}</a>
      <a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase }}</a>
    </td>
</tr></tbody></table>
</article>
</div>
