<div><article>
<table width=100%><tbody><tr>
    <td width=20%>{% if page.author == '' %} {{ site.data.site-trans[include.parent_lang].anonymous }} {% else %} {{ page.author }} {% endif %}</td>
    <td width=25%>
      {% if page.lang == parent_lang %}
              <a href="{{ page.url | relative_url}}">{{ page.title }}</a></td>
      {% elsif page.languages-available contains parent_lang %}
              <a href="/{{parent_lang}}{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.title }}</a></td>
      {% else %}
              <a href="{{ page.url | relative_url}}">{{ page.title }}</a>
      {% endif %}
    </td>
    <td width=20%>
      {% assign a1 = page.affiliation[0] %} {% assign aff1 = site.data.aff-trans[a1].[include.parent_lang] %}
      {% assign a2 = page.affiliation[1] %} {% assign aff2 = site.data.aff-trans[a2].[include.parent_lang] %}
      {% assign a3 = page.affiliation[2] %} {% assign aff2 = site.data.aff-trans[a3].[include.parent_lang] %}
      {% if a1 != nil %}{{ site.data.aff-trans[a1].[include.parent_lang] }}{% endif %}
      {% if a2 != nil %}, {{ site.data.aff-trans[a2].[include.parent_lang] }}{% endif %}
      {% if a3 != nil %}, {{ site.data.aff-trans[a3].[include.parent_lang] }}{% endif %}
    </td>
    <td width=20%>
      {% assign c1 = page.country[0] %} {% assign cn1 = site.data.country-trans[c1].[include.parent_lang] %}
      {% assign c2 = page.country[1] %} {% assign cn2 = site.data.country-trans[c2].[include.parent_lang] %}
      {% assign c3 = page.country[2] %} {% assign cn2 = site.data.country-trans[c3].[include.parent_lang] %}
      {% if c1 != nil %}{{ site.data.country-trans[c1].[include.parent_lang] }}{% endif %}
      {% if c2 != nil %}, {{ site.data.country-trans[c2].[include.parent_lang] }}{% endif %}
      {% if c3 != nil %}, {{ site.data.country-trans[c3].[include.parent_lang] }}{% endif %}
    </td>
    <td width=15%>
      <a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase }}</a>
      <a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase }}</a>
      <a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase }}</a>
      <a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase }}</a>
    </td>
</tr></tbody></table>
</article>
</div>
