<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
  </ul>
</div>
{% assign count = site.pages | where: "index","primary" | where: "layout","single-bio" %}

<div class="page__footer-copyright">
  {% if page.lang == 'en' %}
  DACB is a digital resource hosted by the <a href="http://www.bu.edu/cgcm/">Center for Global Christianity and Mission</a> at Boston University School of Theology. <br>
  &copy; {{ site.time | date: '%Y' }} Dictionary of African Christian Biography. Last updated: {{ site.time | date_to_long_string }}. Total number of stories: {{count.size}}.
  {% endif %}

  {% if page.lang == 'fr' %}
  DIBICA une ressource numérique est hébergé par le <a href="http://www.bu.edu/cgcm/">Centre pour le Christianisme Mondial et la Mission</a> à l'École de théologie de l'Université de Boston. <br>
  &copy; {{ site.time | date: '%Y' }} Dictionnaire Biographique des Chrétienne d'Afrique. Dernière Mise à Jour: {{ site.time | date_to_long_string }}. Nombre total d'histoires: {{count.size}}.
  {% endif %}

  {% if page.lang == 'pt' %}
  DIBICA um recurso digital é hospedado por o<a href="http://www.bu.edu/cgcm/">o Centro para Cristianismo Globais e Missões </a> na Faculdade de Teologia da Universidade de Boston. <br>
  &copy; {{ site.time | date: '%Y' }} Dicionario de Biografias Cristãs da África. Ultima Atualização: {{ site.time | date_to_long_string }}. Número total de histórias: {{count.size}}.
  {% endif %}

  {% if page.lang == 'sw' %}
  KAWAKIA ni rasilimali digital mwenyeji kwa <a href="http://www.bu.edu/cgcm/"> Kituo cha Global Ukristo na Mission </a> katika Boston Chuo cha Theology. <br>
  &copy; {{ site.time | date: '%Y' }} Kamusi Ya Wasifu Wa Wakristo Wa Kiafrika. Ilibadilishwa Mwisho: {{ site.time | date_to_long_string }}. Jumla ya hadithi: {{count.size}}.
  {% endif %}
