{% assign Browse-Stories = 'Browse Stories' %}
{% assign By-Name = 'By Name' %}
{% assign By-Tradition = 'By Tradition' %}
{% assign By-Century = 'By Century' %}
{% assign By-Country = 'By Country' %}
{% assign By-Author = 'By Author' %}
{% assign By-Institution = 'By Institution' %}
{% assign By-Language = 'By Language' %}

<h3 style="margin-top:0px;">{{ site.t[Browse-Stories].[page.lang] }}</h3>
<div class="home-select">
  <a href="/stories/"><img class="home-sort" src="/assets/images/home-sorts/name.jpg" onmouseover="this.src='/assets/images/home-sorts/name-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/name.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/">{{ site.t[By-Name].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/tradition-sort/"><img class="home-sort" src="/assets/images/home-sorts/tradition.jpg" onmouseover="this.src='/assets/images/home-sorts/tradition-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/tradition.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/tradition-sort/">{{ site.t[By-Tradition].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/century-sort/"><img class="home-sort" src="/assets/images/home-sorts/century.jpg" onmouseover="this.src='/assets/images/home-sorts/century-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/century.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/century-sort/">{{ site.t[By-Century].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/country-sort/"><img class="home-sort" src="/assets/images/home-sorts/country.jpg" onmouseover="this.src='/assets/images/home-sorts/country-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/country.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/country-sort/">{{ site.t[By-Country].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/author-sort/"><img class="home-sort" src="/assets/images/home-sorts/author.jpg" onmouseover="this.src='/assets/images/home-sorts/author-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/author.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/author-sort/">{{ site.t[By-Author].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/institution-sort/"><img class="home-sort" src="/assets/images/home-sorts/institution.jpg" onmouseover="this.src='/assets/images/home-sorts/institution-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/institution.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/institution-sort/">{{ site.t[By-Institution].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/stories/"><img class="home-sort" src="/assets/images/home-sorts/language.jpg" onmouseover="this.src='/assets/images/home-sorts/language-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/language.jpg';"></a>
  <h4 style="margin-top:.5em;display:inline-block;"> <a href="/stories/">{{ site.t[By-Language].[page.lang] }}</a></h4>
</div>
