{% assign Browse-Stories = 'Browse Stories' %}
{% assign By-Name = 'By Name' %}
{% assign By-Tradition = 'By Tradition' %}
{% assign By-Century = 'By Century' %}
{% assign By-Country = 'By Country' %}
{% assign By-Author = 'By Author' %}
{% assign By-Institution = 'By Institution' %}
{% assign By-Language = 'By Language' %}

<h1 style="margin-top:0px; text-align:center; text-transform: uppercase; margin-bottom:1em;">{{ site.data.side-sorts[Browse-Stories].[page.lang] }}</h1>
<div style="display:table;margin-bottom:2em;">
<div class="home-select">
  <a href="/sort/stories/"><img class="home-sort" alt="woman image" src="/assets/images/home-sorts/old/name.jpg"  onmouseover="this.src='/assets/images/home-sorts/old/name-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/name.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/">{{ site.data.side-sorts[By-Name].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/tradition-sort/"><img class="home-sort" alt="men dancing" src="/assets/images/home-sorts/old/tradition.jpg" onmouseover="this.src='/assets/images/home-sorts/old/tradition-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/tradition.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/tradition-sort/">{{ site.data.side-sorts[By-Tradition].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/century-sort/"><img class="home-sort" alt="egyptian image" src="/assets/images/home-sorts/old/century.jpg" onmouseover="this.src='/assets/images/home-sorts/old/century-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/century.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/century-sort/">{{ site.data.side-sorts[By-Century].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/country-sort/"><img class="home-sort" alt="map" src="/assets/images/home-sorts/old/country.jpg" onmouseover="this.src='/assets/images/home-sorts/old/country-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/country.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/country-sort/">{{ site.data.side-sorts[By-Country].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/author-sort/"><img class="home-sort" alt="pen writing" src="/assets/images/home-sorts/old/author.jpg" onmouseover="this.src='/assets/images/home-sorts/old/author-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/author.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/author-sort/">{{ site.data.side-sorts[By-Author].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/institution-sort/"><img class="home-sort" alt="building entrance" src="/assets/images/home-sorts/old/institution.jpg" onmouseover="this.src='/assets/images/home-sorts/old/institution-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/institution.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/institution-sort/">{{ site.data.side-sorts[By-Institution].[page.lang] }}</a></h4>
</div>

<div class="home-select">
  <a href="/sort/stories/"><img class="home-sort" alt="words on paper" src="/assets/images/home-sorts/old/language.jpg" onmouseover="this.src='/assets/images/home-sorts/old/language-c.jpg';" onmouseout="this.src='/assets/images/home-sorts/language.jpg';"></a>
  <h4> <a href="{{ page.lang | prepend: '/'| remove: '/en' }}/sort/stories/language-sort/">{{ site.data.side-sorts[By-Language].[page.lang] }}</a></h4>
</div>
</div>
