{% if forloop.first %}
{% assign check = page.institution %}
  <div>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <table><tbody><tr>

        {% assign sort = page.institution | truncate: 1,"" %}
        {% if sort == 'A'%}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='B' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='C' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='D' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='E' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='F' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='G' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='H' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='I' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='J' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='K' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='L' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='M' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='N' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='O' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='P' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Q' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='R' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='S' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='T' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='U' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='V' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='W' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='X' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Y' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Z' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% else %}
        {% continue %}
        {% endif %}

      </tr></tbody></table>
  </article>
  </div>
{% elsif page.institution == check %}
{% continue %}
{% elsif page.institution != check %}
{% assign check = page.institution %}
  <div>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <table><tbody><tr>
        {% assign sort = page.institution | truncate: 1,"" %}
        {% if sort == 'A'%}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='B' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='C' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='D' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='E' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='F' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='G' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='H' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='I' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='J' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='K' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='L' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='M' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort2/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='N' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='O' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='P' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Q' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='R' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='S' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort3/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='T' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='U' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='V' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='W' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='X' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Y' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% elsif sort =='Z' %}
        <td width=70%><a href="{{ include.parent_lang | prepend: '/' | remove_first: '/en' }}/sort/stories/institution-sort4/#{{ page.institution | slugify }}">{{ page.institution }}</a></td>
        <td width=30%>{{ cull.size }}</td>
        {% else %}
        {% continue %}
        {% endif %}

      </tr></tbody></table>
  </article>
  </div>
{% endif %}
