
<div class="masthead-banner">
<div class="masthead__inner-wrap">
  <div class="logo">
      <img src="/assets/images/logo-{{page.lang}}.gif">
    </div>
<nav class="top">
        <label for="drop" class="toggle-m">{{ site.t[page.lang].menu }}</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li>
              <label for="drop-0" class="toggle"><div class="drop">{{ site.t[page.lang].home }}</div></label>
              <a href="#"><div class="drop">{{ site.t[page.lang].home }}</div></a>
              <input type="checkbox" id="drop-0"/>
              <ul class=="top">
                  <li class="second"><a href="{{ site.url }}/">English</a></li>
                  <li class="second"><a href="{{ site.url }}/fr/">Français</a></li>
                  <li class="second"><a href="{{ site.url }}/pt/">Português</a></li>
                  <li class="second"><a href="{{ site.url }}/sw/">Kiswahili</a></li>
              </ul>
          </li>
            <li>
                <label for="drop-1" class="toggle"><div class="drop">{{ site.t[page.lang].stories }}</div></label>
                <a href="#"><div class="drop">{{ site.t[page.lang].stories }}</div></a>
                <input type="checkbox" id="drop-1"/>
                <ul class=="top">
                    <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/">{{ site.t[page.lang].all-stories }}</a></li>
                    <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/latest-sort/">{{ site.t[page.lang].latest-stories }}</a></li>
                    <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/collected-memories/">{{ site.t[page.lang].collected-memories }}</a></li>
                    <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/regional-histories/">{{ site.t[page.lang].regional-histories }}</a></li>
                    <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/potential-subjects/">{{ site.t[page.lang].potential-subjects }}</a></li>
                </ul>
            </li>
            <li>
            <label for="drop-3" class="toggle"><div class="drop">{{ site.t[page.lang].resources }}</div></label>
            <a href="#"><div class="drop">{{ site.t[page.lang].resources }}</div></a>
            <input type="checkbox" id="drop-3"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/writers-educators/">{{ site.t[page.lang].for-writers-educators }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/bibliographies/">{{ site.t[page.lang].bibliographies }}</a></li>
            </ul>
            </li>
            <li>
            <label for="drop-6" class="toggle"><div class="drop">{{ site.t[page.lang].news }}</div></label>
            <a href="#"><div class="drop">{{ site.t[page.lang].news }}</div></a>
            <input type="checkbox" id="drop-6"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/latest-sort/">{{ site.t[page.lang].latest-stories }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/news/newsletter/">{{ site.t[page.lang].newsletter }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/news/journal/">{{ site.t[page.lang].journal }}</a></li>
            </ul>
            </li>
            <li>
            <label for="drop-7" class="toggle"><div class="drop">{{ site.t[page.lang].contribute }}</div></label>
            <a href="#"><div class="drop">{{ site.t[page.lang].contribute }}</div></a>
            <input type="checkbox" id="drop-7"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/contribute/contact/">{{ site.t[page.lang].contact-us }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/contribute/partner/">{{ site.t[page.lang].partner }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/contribute/submit/">{{ site.t[page.lang].submit-stories }}</a></li>
            </ul>
            </li>
            <label class="toggle">
              <a class="search-image" href="{{ page.lang | prepend: '/' | remove: '/en' }}/search/" style="padding: 0px !important"></a></label>
                <li class="menu">
                  <a class="search-image" href="{{ page.lang | prepend: '/' | remove: '/en' }}/search/" style="padding: 0px !important"></a>
                </li>

        </ul>
      </nav>
</div>
<div class="masthead-bar-{{page.lang}}">  </div>

</div>
