
<div class="masthead-banner">
<div class="masthead__inner-wrap">

  <!------ LANGAUGE SWITCHER
  <div class="lang-switch">
    <div class="switcher">
      <div class="home"> </div>
      <div class="en"><a href="{{ site.url }}/#">EN</a></div>
      <div class="fr"><a href="{{ site.url }}/fr">FR</a></div>
      <div class="pt"><a href="{{ site.url }}/pt">PT</a></div>
      <div class="sw"><a href="{{ site.url }}/sw">SW</a></div>
    </div>
  </div> -->

  <div class="logo">
      <a href="{{ site.url }}{{ page.lang | prepend: '/' | remove: '/en' }}/#"><img src="/assets/images/logo-new-{{page.lang}}.png"></a>
    </div>
<nav class="top">
  <input type="checkbox" id="drop" />
        <label for="drop" class="toggle-m">{{ site.data.site-trans[page.lang].menu }}</label>
        <ul class="menu">


<!----------------------------------------------------------------------------------------------------------->
<!-- HOME --------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-2" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/">{{ site.data.site-trans[page.lang].home }}</a></div></label>
            <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/"><div class="drop">{{ site.data.site-trans[page.lang].home }}</div></a>
            <input type="checkbox" id="drop-2"/>
            <ul class=="top">
              <li class="second"><a href="{{site.url}}/">English</a></li>
              <li class="second"><a href="{{site.url}}/fr/">Français</a></li>
              <li class="second"><a href="{{site.url}}/pt/">Português</a></li>
              <li class="second"><a href="{{site.url}}/sw/">Kiswahili</a></li>
            </ul>
            </li>

<!----------------------------------------------------------------------------------------------------------->
<!--TRANSLATION---------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->

<li>
  <label for="drop-4" class="toggle">
    <div class="drop"><a href="">{{
        site.data.site-trans[page.lang].translation }}</a></div>
  </label>
  <a href="">
    <div class="drop">{{ site.data.site-trans[page.lang].translation }}</div>
  </a>
  <input type="checkbox" id="drop-4" />
  <ul class=="top">
    <li class="second">
      <div id="google_translate_element"></div>
      <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({ pageLanguage: 'fr' }, 'google_translate_element');
        }
      </script>
    </li>
  </ul>
</li>

<!----------------------------------------------------------------------------------------------------------->
<!-- ABOUT -------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-5" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/about/">{{ site.data.site-trans[page.lang].about }}</a></div></label>
            <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/about/"><div class="drop">{{ site.data.site-trans[page.lang].about }}</div></a>
            <input type="checkbox" id="drop-5"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/about/vision/">{{ site.data.site-trans[page.lang].vision }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/about/editors-and-elders/">{{ site.data.site-trans[page.lang].editors-and-elders }}</a></li>
              <li class="second"><a href="/about/editorial-committee/">{{ site.data.site-trans[page.lang].editorial-committee }}</a></li>
              <li class="second"><a href="/about/donor-list/">{{ site.data.site-trans[page.lang].donor-list }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/about/partners/">{{ site.data.site-trans[page.lang].partners }}</a></li>
              <li class="second"><a href="/about/usage/">{{ site.data.site-trans[page.lang].site-usage }}</a></li>
            </ul>
            </li>

<!----------------------------------------------------------------------------------------------------------->
<!-- STORIES ------------------------------------------------------------------------------------------------>
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-0" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/">{{ site.data.site-trans[page.lang].stories }}</a></div></label>
            <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/"><div class="drop">{{ site.data.site-trans[page.lang].stories }}</div></a>
            <input type="checkbox" id="drop-0"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/latest-sort/">{{ site.data.site-trans[page.lang].latest-stories }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/collected-memories/">{{ site.data.site-trans[page.lang].collected-memories }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/regional-histories/">{{ site.data.site-trans[page.lang].regional-histories }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/country-sort/">{{ site.data.site-trans[page.lang].modern }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/ancient-church-index/">{{ site.data.site-trans[page.lang].ancient-map }}</a></li>
            </ul>
            </li>

<!----------------------------------------------------------------------------------------------------------->
<!-- PROJECTS ------------------------------------------------------------------------------------------------>
<!----------------------------------------------------------------------------------------------------------->
            <li>
              <label for="drop-1" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/projects/">{{ site.data.site-trans[page.lang].projects }}</a></div></label>
              <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/projects/"><div class="drop">{{ site.data.site-trans[page.lang].projects }}</div></a>
              <input type="checkbox" id="drop-1"/>
            <ul class=="top">
              <li class="second"><a href="/projects/women/">{{ site.data.site-trans[page.lang].women }}</a></li>
              <li class="second"><a href="/projects/music-art/">{{ site.data.site-trans[page.lang].music-art}}</a></li>
              <li class="second"><a href="/projects/diaspora">{{ site.data.site-trans[page.lang].diaspora }}</a></li>

            </ul>
            </li>
<!----------------------------------------------------------------------------------------------------------->
<!-- RESOURCES  --------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-3" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources">{{ site.data.site-trans[page.lang].resources }}</a></div></label>
            <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources"><div class="drop">{{ site.data.site-trans[page.lang].resources }}</div></a>
            <input type="checkbox" id="drop-3"/>
            <ul class=="top">
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/introductory/">{{ site.data.site-trans[page.lang].resources-introductory}}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/educational/">{{ site.data.site-trans[page.lang].resources-educational}}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/bibliographic/">{{ site.data.site-trans[page.lang].resources-bibliographic}}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/oral-history/">{{ site.data.site-trans[page.lang].resources-oral-history}}</a></li>
            </ul>
            </li>
<!----------------------------------------------------------------------------------------------------------->
<!-- JOURNAL --------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-6" class="toggle"><div class="drop"><a href="/journal/">{{ site.data.site-trans[page.lang].journal }}</a></div></label>
            <a href="/journal/"><div class="drop">{{ site.data.site-trans[page.lang].journal }}</div></a>
            </li>

<!----------------------------------------------------------------------------------------------------------->
<!-- CONNECT --------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-7" class="toggle"><div class="drop"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/connect/">{{ site.data.site-trans[page.lang].contribute }}</a></div></label>
            <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/connect/"><div class="drop">{{ site.data.site-trans[page.lang].contribute }}</div></a>
            <input type="checkbox" id="drop-7"/>
            <ul class=="top">
              <li class="second"><a href="/fr/connect/news/">{{ site.data.site-trans[page.lang].news }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/connect/submit/">{{ site.data.site-trans[page.lang].submit-stories }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/connect/collaborate/">{{ site.data.site-trans[page.lang].partner }}</a></li>
              <li class="second"><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/connect/contact/">{{ site.data.site-trans[page.lang].contact-us }}</a></li>
            </ul>
            </li>

<!----------------------------------------------------------------------------------------------------------->
<!-- DONATE --------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <li>
            <label for="drop-8" class="toggle"><div class="drop"><a href="/donate/">{{ site.data.site-trans[page.lang].donate }}</a></div></label>
            <a href="/donate/"><div class="drop">{{ site.data.site-trans[page.lang].donate }}</div></a>
              </li>

<!----------------------------------------------------------------------------------------------------------->
<!-- SEARCH ------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------->
            <label class="toggle" style="margin-left: .5vw !important; margin-right: .5vw !important;">
              <a class="search-image" href="/search{{ page.lang | prepend: '-' | remove: '-en' }}.html" style="padding: 0px !important"></a></label>
                <li class="menu">
                  <a class="search-image" href="/search{{ page.lang | prepend: '-' | remove: '-en' }}.html" style="padding: 0px !important"></a>
                </li>

        </ul>
      </nav>
</div>
<div class="masthead-bar-{{page.lang}}">  </div>

</div>
