<div class="masthead-banner">
 <div class="masthead__inner-wrap">
  <div class="logo">
    <img src="/assets/images/logo-{{page.lang}}.gif" style="height: 4em; width: 4em;">
    <img src="/assets/images/banner-{{page.lang}}.jpg">
  </div>
 </div>
</div>

<div class="masthead-{{ page.lang }}">
  <div class="masthead-{{ page.lang }}__inner-wrap">
    <div class="masthead__menu">
       <div class="container">
<ul class="nav">
<li class="dropdown">
    <a href="{{site.url}}{{ page.lang | prepend: '/' | remove: '/en' }}" class="dropbtn">Home</a>
  </li>
<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Stories</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/">All Stories</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/latest-sort/">Latest Stories</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/collected-memories/">Collected Memories</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/regional-histories/">Regional Histories</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/potential-subjects/">Potential Subjects</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">The Project</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/project/what-is-dacb/">What is DACB?</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/project/beginnings/">Beginnings</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/project/vision/">Vision</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Resources</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/writers/">For Writers</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/educators/">For Educators</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/researchers/">For Further Research</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/video/">Videos</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/resources/links/">Links</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Africa Maps</a>
    <div class="dropdown-content">
      <a href="/maps/modern/">Modern Africa</a>
      <a href="/maps/ancient/">Ancient North Africa</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">People</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/people/advisors/">Advisors</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/people/editorial-committee/">Editorial Committee</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/people/partners/">Partners</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/stories/institution-sort/">Institutions</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/people/project-luke/">Project Luke Fellows</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">News</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/news/whats-new/">What's New?</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/news/newsletter/">Newsletter</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/news/journal/">Journal</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Get Involved</a>
    <div class="dropdown-content">
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/get-involved/contact/">Contact Us</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/get-involved/contribute/">Contribute</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/get-involved/readers/">From Our Readers</a>
      <a href="{{ page.lang | prepend: '/' | remove: '/en' }}/get-involved/submit/">Submit Stories</a>
    </div>
  </li>
  <li class="dropdown-search
">
    <input type="text" name="search" placeholder="Search..">
  </li>
</ul>

      </div>
    </div>
  </div>
</div>

<div class="masthead-banner-trans">
 <div class="masthead__inner-wrap-left">
    <div class="masthead-lang"> <p>{{ site.t[page.lang].page-available }}&nbsp;
      {% if page.languages-available[3] != ' ' %}
      <a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink" class="btn-sw">{{ page.languages-available[3] | upcase | strip }}</a>
      {% endif %}
      {% if page.languages-available[2] != ' ' %}
      <a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink" class="btn-pt">{{ page.languages-available[2] | upcase | strip }}</a>
      {% endif %}
      {% if page.languages-available[1] != ' ' %}
      <a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink" class="btn-fr">{{ page.languages-available[1] | upcase | strip }}</a>
      {% endif %}
      {% if page.languages-available[0] != ' ' %}
      <a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink" class="btn-en">{{ page.languages-available[0] | upcase | strip }}</a>
      {% endif %}
</p>
</div>
</div>
</div>
<!--
<div class="masthead-bar-{{ page.lang }}"><p>&nbsp;</p></div>
-->
