<table><tbody>

<tr>
<td markdown="span">[Ancient African Church References](/resources/ancient-references/)</td>
<td markdown="span">_Complete bibliographic references noted in abbreviated form in the Ancient African Church index._</td>
</tr>

<tr>
<td markdown="span">[All Potential Subjects](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">4700 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign ancient-church = "Ancient Church"%}
<td markdown="span">[{{site.t[ancient-church][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">588 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.algeria[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">59 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.angola[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">40 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.benin[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">23 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.botswana[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">27 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign burkina-faso = "burkina faso" %}
<td markdown="span">[{{site.t[burkina-faso][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">6 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.burundi[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">27 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.cameroon[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">111 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign cape-verde = "cape verde" %}
<td markdown="span">[{{site.t[cape-verde][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">19 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign central-african-republic = "central african republic" %}
<td markdown="span">[{{site.t[central-african-republic][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">11 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.chad[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">6 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.comoros[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign democratic-republic-of-congo = "democratic republic of congo" %}
<td markdown="span">[{{site.t[democratic-republic-of-congo][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">176 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.congo-brazzaville[page.lang]}}](/resources/potential-subjects/congo-soon.pdf)</td>
<td markdown="span">40 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign cote-divoire = "cote divoire" %}
<td markdown="span">[{{site.t[cote-divoire][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">12 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.djibouti[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.egypt[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span" valign="top">527 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[Coptics from the _Coptic Encyclopedia_](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">330 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign equatorial-guineau = "equatorial guinea" %}
<td markdown="span">[{{site.t[equatorial-guineau][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">1 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.eritrea[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.ethiopia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">646 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.gabon[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">92 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.gambia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.ghana[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">123 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.guinea[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">13 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign guinea-bissau = "guinea bissau" %}
<td markdown="span">[{{site.t[guinea-bissau][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">4 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.kenya[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">205 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.lesotho[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">110 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.liberia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">34 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.libya[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">8 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.madagascar[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">233 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.malawi[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">81 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.mali[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">13 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.mauritania[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.mauritius[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">8 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.mayotte[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">2 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.morocco[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">43 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.mozambique[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">165 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.namibia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">46 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.niger[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">14 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.nigeria[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">406 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.reunion[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.rwanda[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">35 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign saint-helena = "saint helena" %}
<td markdown="span">[{{site.t[saint-helena][page.lang]}}](/resources/potential-subjects/stsoon.pdf)</td>
<td markdown="span">0 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign sao-tome-and-principe = "sao tome and principe" %}
<td markdown="span">[{{site.t[sao-tome-and-principe][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.senegal[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">32 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.seychelles[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">2 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign sierra-leone = "sierra leone" %}
<td markdown="span">[{{site.t[sierra-leone][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">137 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.somalia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">3 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign south-africa = "south africa" %}
<td markdown="span">[{{site.t[south-africa][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">503 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.sudan[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">137 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.swaziland[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">57 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.tanzania[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">173 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.togo[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">44 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.tunisia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">101 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.uganda[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">254 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign western-sahara = "western sahara" %}
<td markdown="span">[{{site.t[western-sahara][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.zambia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">124 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.zimbabwe[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">82 {{site.t[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.t.other-subjects[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">130 {{site.t[page.lang].potential-subjects}}</td>

</tr></tbody></table>
