<table><tbody>

<tr>
<td markdown="span">[{{site.data.site-trans[page.lang].ancient-references}}](/resources/ancient-references/)</td>
{% if page.lang == 'en' %}
<td markdown="span">_Complete bibliographic references noted in abbreviated form in the Ancient African Church index._</td>
{% endif %}
{% if page.lang == 'fr' %}
<td markdown="span">_Références bibliographiques complètes notées sous forme abrégée dans l'index de l'Église africaine ancienne._</td>
{% endif %}
{% if page.lang == 'pt' %}
<td markdown="span">_Referências bibliográficas completas observadas em forma abreviada no índice da Igreja Africana Antiga._</td>
{% endif %}
{% if page.lang == 'sw' %}
<td markdown="span">_Marejeo kamili ya bibliografia yalibainishwa kwa fomu iliyofupishwa katika ripoti ya Kale ya Afrika ya Kanisa._</td>
{% endif %}
</tr>

<tr>
<td markdown="span">[{{site.data.site-trans[page.lang].all-potential-subjects}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">4700 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign ancient-church = "Ancient Church"%}
<td markdown="span">[{{site.data.side-sorts[ancient-church][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">588 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.algeria[page.lang]}}](/resources/potential-subjects/algeria.pdf)</td>
<td markdown="span">60 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.angola[page.lang]}}](/resources/potential-subjects/angola.pdf)</td>
<td markdown="span">42 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.benin[page.lang]}}](/resources/potential-subjects/benin.pdf)</td>
<td markdown="span">23 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.botswana[page.lang]}}](/resources/potential-subjects/botswana.pdf)</td>
<td markdown="span">27 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign burkina-faso = "burkina faso" %}
<td markdown="span">[{{site.data.country-trans[burkina-faso][page.lang]}}](/resources/potential-subjects/burkina-faso.pdf)</td>
<td markdown="span">6 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.burundi[page.lang]}}](/resources/potential-subjects/burundi.pdf)</td>
<td markdown="span">30 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.cameroon[page.lang]}}](/resources/potential-subjects/cameroon.pdf)</td>
<td markdown="span">114 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign cape-verde = "cape verde" %}
<td markdown="span">[{{site.data.country-trans[cape-verde][page.lang]}}](/resources/potential-subjects/cape-verde.pdf)</td>
<td markdown="span">19 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign central-african-republic = "central african republic" %}
<td markdown="span">[{{site.data.country-trans[central-african-republic][page.lang]}}](/resources/potential-subjects/central-africa-republic.pdf)</td>
<td markdown="span">11 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.chad[page.lang]}}](/resources/potential-subjects/chad.pdf)</td>
<td markdown="span">6 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.comoros[page.lang]}}]</td>
<td markdown="span">0 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign democratic-republic-of-congo = "democratic republic of congo" %}
<td markdown="span">[{{site.data.country-trans[democratic-republic-of-congo][page.lang]}}](/resources/potential-subjects/democratic-republic-of-congo.pdf)</td>
<td markdown="span">182 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
  {% assign congo = "congo" %}
<td markdown="span">[{{site.data.country-trans[congo][page.lang]}}](/resources/potential-subjects/congo.pdf)</td>
<td markdown="span">40 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign cote-divoire = "cote divoire" %}
<td markdown="span">[{{site.data.country-trans[cote-divoire][page.lang]}}](/resources/potential-subjects/cote-divoire.pdf)</td>
<td markdown="span">13 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.djibouti[page.lang]}}]</td>
<td markdown="span">0 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.egypt[page.lang]}}](/resources/potential-subjects/egypt.pdf)</td>
<td markdown="span" valign="top">529 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign equatorial-guineau = "equatorial guinea" %}
<td markdown="span">[{{site.data.country-trans[equatorial-guinea][page.lang]}}](/resources/potential-subjects/equatorial-guinea.pdf)</td>
<td markdown="span">1 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.eritrea[page.lang]}}](/resources/potential-subjects/eritrea.pdf)</td>
<td markdown="span">5 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.ethiopia[page.lang]}}](/resources/potential-subjects/ethiopia.pdf)</td>
<td markdown="span">652 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.gabon[page.lang]}}](/resources/potential-subjects/gabon.pdf)</td>
<td markdown="span">92 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.gambia[page.lang]}}](/resources/potential-subjects/gambia.pdf)</td>
<td markdown="span">12 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.ghana[page.lang]}}](/resources/potential-subjects/ghana.pdf)</td>
<td markdown="span">133 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.guinea[page.lang]}}](/resources/potential-subjects/guinea.pdf)</td>
<td markdown="span">13 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign guinea-bissau = "guinea bissau" %}
<td markdown="span">[{{site.data.country-trans[guinea-bissau][page.lang]}}](/resources/potential-subjects/guinea-bissau.pdf)</td>
<td markdown="span">4 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.kenya[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">205 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.lesotho[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">110 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.liberia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">34 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.libya[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">8 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.madagascar[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">233 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.malawi[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">81 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.mali[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">13 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.mauritania[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.mauritius[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">8 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.mayotte[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">2 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.morocco[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">43 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.mozambique[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">165 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.namibia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">46 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.niger[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">14 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.nigeria[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">406 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.reunion[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">5 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.rwanda[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">35 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign saint-helena = "saint helena" %}
<td markdown="span">[{{site.data.country-trans[saint-helena][page.lang]}}](/resources/potential-subjects/stsoon.pdf)</td>
<td markdown="span">0 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign sao-tome-and-principe = "sao tome and principe" %}
<td markdown="span">[{{site.data.country-trans[sao-tome-and-principe][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.senegal[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">32 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.seychelles[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">2 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign sierra-leone = "sierra leone" %}
<td markdown="span">[{{site.data.country-trans[sierra-leone][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">137 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.somalia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">3 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign south-africa = "south africa" %}
<td markdown="span">[{{site.data.country-trans[south-africa][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">503 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.sudan[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">137 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.swaziland[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">57 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.tanzania[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">173 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.togo[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">44 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.tunisia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">101 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.uganda[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">254 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
{% assign western-sahara = "western sahara" %}
<td markdown="span">[{{site.data.country-trans[western-sahara][page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">0 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.zambia[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">124 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans.zimbabwe[page.lang]}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">82 {{site.data.site-trans[page.lang].potential-subjects}}</td>
</tr>

<tr>
<td markdown="span">[{{site.data.country-trans[page.lang].other-subjects}}](/resources/potential-subjects/soon.pdf)</td>
<td markdown="span">130 {{site.data.site-trans[page.lang].potential-subjects}}</td>

</tr></tbody></table>
