<div class="sidebar sticky">

  <div class="language-switch2">{{ site.data.site-trans[page.lang].page-available }}</div>
  <div class="language-switch"><div class="lang-head">
    {% if page.languages-available[0] != ' ' %}<div class="en"><a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase | strip }}</a></div>{% endif %}
    {% if page.languages-available[1] != ' ' %}<div class="fr"><a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase | strip }}</a></div>{% endif %}
    {% if page.languages-available[2] != ' ' %}<div class="pt"><a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase | strip }}</a></div>{% endif %}
    {% if page.languages-available[3] != ' ' %}<div class="sw"><a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase | strip }}</a></div>{% endif %}
</div></div>

  <nav class="nav__list2">
    {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.site-trans[page.lang].sidebar_label }}</label>
    <ul class="nav__items2">

  <!--  ____________________________________________________________________________________________________
  WHAT'S NEW ARCHIVE _______________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div class="side-box">
<h4>What's New? Archives</h4>
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts | limit: 10 %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != written_year %}
      <p><b>{{ year }}</b></p>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}
  {% include archive-list.html %}
{% endfor %}
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
E-NEWSLETTER _____________________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/news/newsletter/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/news/newsletter/">E-Newsletter</a></h4>
          <p>Want to stay updated on new happenings at the DACB? Sign up for our e-newsletter here.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/news/newsletter/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/news/newsletter/">E-Newsletter</a></h4>
          <p>WVous voulez rester à jour sur les nouveaux événements au DACB? Inscrivez-vous à notre newsletter électronique ici.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/news/newsletter/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/pt/news/newsletter/">E-Newsletter</a></h4>
          <p>Quer ficar atualizado sobre novos acontecimentos no DACB? Inscreva-se no nosso boletim informativo aqui.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/news/newsletter/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/sw/news/newsletter/">E-Jarida</a></h4>
          <p>Unataka kukaa updated juu ya matukio mapya katika DACB? Ishara kwa jarida letu la e-mail hapa.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
JOURNAL __________________________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/news/journal/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/news/journal/">Journal</a></h4>
          <p>The DACB regularly publishes the Journal of African Christan Biography. You can vew digital copies here.</p>
</div>
{% endif %}


      </ul>
    </nav>
  </div>
