{% if page.sidebar %}
{% if page.sidebar.nav %}
  <div class="sidebar sticky">

    <div class="language-switch2">{{ site.data.site-trans[page.lang].page-available }}</div>
    <div class="language-switch"><div class="lang-head">
      {% if page.languages-available[0] != ' ' %}<div class="en"><a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[1] != ' ' %}<div class="fr"><a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[2] != ' ' %}<div class="pt"><a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[3] != ' ' %}<div class="sw"><a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase | strip }}</a></div>{% endif %}
  </div></div>

  <nav class="nav__list2">
    {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.site-trans[page.lang].sidebar_label }}</label>
    <ul class="nav__items2">

<!--  ____________________________________________________________________________________________________
INTRODUCTORY ___________________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/introductory/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/introductory/">{{ site.data.site-trans[page.lang].resources-introductory}}</a></h4>
          <p>If you are interested in learning more about this project or in contributing to the DACB, you can find helpful resources here.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/resources/introductory/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/resources/introductory/">{{ site.data.site-trans[page.lang].resources-introductory}}</a></h4>
          <p>Si vous souhaitez en savoir plus sur ce projet ou contribuer au DACB, vous pouvez trouver des ressources utiles ici.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/resources/introductory/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/pt/resources/introductory/">{{ site.data.site-trans[page.lang].resources-introductory}}</a></h4>
          <p>Se você estiver interessado em aprender mais sobre este projeto ou em contribuir com o DIBICA, você pode encontrar recursos úteis aqui.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/resources/introductory/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/sw/resources/introductory/">{{ site.data.site-trans[page.lang].resources-introductory}}</a></h4>
          <p>Ikiwa una nia ya kujifunza zaidi juu ya mradi huu au katika kuchangia DACB, unaweza kupata rasilimali muhimu hapa.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
EDUCATIONAL ______________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/educational/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/educational/">{{ site.data.site-trans[page.lang].resources-educational}}</a></h4>
          <p>This page contains documents and links to online resources helpful in educational settings. </p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/resources/educational/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/resources/educational/">{{ site.data.site-trans[page.lang].resources-educational}}</a></h4>
          <p>Cette page contient des documents et des liens vers des ressources en ligne utiles dans les contextes éducatifs.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/resources/educational/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/pt/resources/educational/">{{ site.data.site-trans[page.lang].resources-educational}}</a></h4>
          <p>Esta página contém documentos e links para recursos on-line úteis em configurações educacionais.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/resources/educational/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/sw/resources/educational/">{{ site.data.site-trans[page.lang].resources-educational}}</a></h4>
          <p>Ukurasa huu una hati na viungo kwa rasilimali za mkondoni zinazosaidia katika mipangilio ya kielimu.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
BIBLIOGRAPHIC ______________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/bibliographic/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/bibliographic/">{{ site.data.site-trans[page.lang].resources-bibliographic}}</a></h4>
          <p>This page includes bibliographies and sources useful to those pursuing further research in African Christianity.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/resources/bibliographic/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/resources/bibliographic/">{{ site.data.site-trans[page.lang].resources-bibliographic}}</a></h4>
          <p>Cette page comprend des bibliographies et des sources utiles pour ceux qui poursuivent leurs recherches sur le christianisme africain.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/resources/bibliographic/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/pt/resources/bibliographic/">{{ site.data.site-trans[page.lang].resources-bibliographic}}</a></h4>
          <p>Esta página inclui bibliografias e fontes úteis para aqueles que buscam mais pesquisas sobre o cristianismo africano.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/resources/bibliographic/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/sw/resources/bibliographic/">{{ site.data.site-trans[page.lang].resources-bibliographic}}</a></h4>
          <p>Ukurasa huu unajumuisha biblia na vyanzo muhimu kwa wale wanaofuata utafiti zaidi katika Ukristo wa Kiafrika.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
ORAL HISTORY ______________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/oral-history/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/oral-history/">{{ site.data.site-trans[page.lang].resources-oral-history}}</a></h4>
          <p>Here you will find resources and curriculum to assist in the teaching of oral history methodology.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/resources/oral-history/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/oral-history/">{{ site.data.site-trans[page.lang].resources-oral-history}}</a></h4>
          <p>Vous trouverez ici des ressources et un programme d’enseignement pour aider à enseigner la méthodologie de l’histoire orale.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/resources/oral-history/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/oral-history/">{{ site.data.site-trans[page.lang].resources-oral-history}}</a></h4>
          <p>Aqui você encontrará recursos e currículo para auxiliar no ensino da metodologia da história oral.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/resources/oral-history/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/oral-history/">{{ site.data.site-trans[page.lang].resources-oral-history}}</a></h4>
          <p>Hapa utapata rasilimali na mtaala kusaidia katika kufundisha mbinu ya historia ya mdomo.</p>
</div>
{% endif %}

      </ul>
    </nav>
  </div>

{% endif %}
{% endif %}
