{% if page.sidebar %}
  {% if page.sidebar.nav %}
  <div class="sidebar sticky">

    <div class="language-switch2">{{ site.data.site-trans[page.lang].page-available }}</div>
    <div class="language-switch"><div class="lang-head">
      {% if page.languages-available[0] != ' ' %}<div class="en"><a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[1] != ' ' %}<div class="fr"><a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[2] != ' ' %}<div class="pt"><a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase | strip }}</a></div>{% endif %}
      {% if page.languages-available[3] != ' ' %}<div class="sw"><a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase | strip }}</a></div>{% endif %}
  </div></div>

  <nav class="nav__list2">
    {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.site-trans[page.lang].sidebar_label }}</label>
    <ul class="nav__items2">

<!--  ____________________________________________________________________________________________________
EDITORIAL COMMITTEE ______________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/about/editorial-committee/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/editorial-committee/">Executive Committee</a></h4>
          <p><a href="{{ site.url }}/about/editorial-committee/#michele-sigg">Dr. Michèle Sigg</a>
            <br>Executive Director</p>
          <p><a href="{{ site.url }}/about/editorial-committee/#jesse-mugambi">Dr. Jesse Mugambi</a>
              <br>Co-chair, Senior Advisory Council</p>
          <p><a href="{{ site.url }}/about/editorial-committee/#restrick-beth">Frances (Beth) Restrick</a>
                  <br>Head, BU African Studies Library</p>
          <p><a href="{{ site.url }}/about/editorial-committee/#dana-robert">Dr. Dana Robert</a>
            <br>Director, Center for Global Christianity and Mission</p>
          <p><a href="{{ site.url }}/about/editorial-committee/#nimi-wariboko">Dr. Nimi Wariboko</a>
              <br>Chair, Editorial Committee</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/about/editorial-committee/','_top' ); return false;" class="side-box-link">
      <h4><a href="{{ site.url }}/about/editorial-committee/">Comité Éxecutif</a></h4>
            <p><b>Dr. Michèle Sigg</b>
            <br>Directrice du Projet</p>
            <p><b>Dr. Jesse Mugambi</b>
              <br>Éditeur du Projet</p>
            <p><b>Mme. Frances (Beth) Restrick</b>
              <br>Éditrice du Projet</p>
            <p><b>Dr. Dana Robert</b>
              <br>Éditrice du Projet</p>
            <p><b>Dr. Nimi Wariboko</b>
              <br>Éditeur du Projet</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/about/editorial-committee/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/editorial-committee/">Comitê Executivo</a></h4>
          <p><b>Dra. Michèle Sigg</b>
            <br>Diretora do Projeto</p>
          <p><b>Dr. Jesse Mugambi</b>
            <br>Editor do Projeto</p>
          <p><b>Sra. Frances (Beth) Restrick</b>
            <br>Editora do Projeto</p>
          <p><b>Dra. Dana Robert</b>
            <br>Editora do Projeto</p>
          <p><b>Dr. Nimi Wariboko</b>
            <br>Editor do Projeto</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/about/editorial-committee/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/editorial-committee/">Kamati ya Utendaji</a></h4>
           <p><b>Dr. Michèle Sigg</b>
             <br>Mkurugenzi wa Mradi </p>
           <p><b>Dr. Jesse Mugambi</b>
             <br>Mhariri wa Mradi </p>
          <p><b>Bi Frances (Beth) Restrick</b>
             <br>Mhariri wa Mradi </p>
           <p><b>Dr. Dana Robert</b>
             <br>Mhariri wa Mradi </p>
           <p><b>Dr. Nimi Wariboko</b>
             <br>Mhariri wa Mradi </p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
ADVISORY COUNCIL _________________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/about/editors-and-elders/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/editors-and-elders/">Boards</a></h4>
          <p>The Senior Advisory Council, the Editorial Board, and the Technical Advisors.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/about/editors-and-elders/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/about/editors-and-elders/"> Éditeurs et Anciens</a></h4>
          <p>Le Conseil consultatif principal, le Comité de rédaction et les conseillers techniques</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/about/editors-and-elders/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/editors-and-elders/">Editores e anciãos</a></h4>
          <p>O Conselho Consultivo Sênior, o Conselho Editorial e os Consultores Técnicos.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/about/editors-and-elders/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/editors-and-elders/">Wahariri na waze</a></h4>
          <p>Baraza la Ushauri Mwandamizi, Bodi ya Wahariri, na Washauri wa Ufundi.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
PARTNERS _____________________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/about/partners/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/partners/">Institutional Partners</a></h4>
          <p>Many institutions contribute to the DACB. See a list of participating institutions here.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/about/partners/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/fr/about/partners/">Partenaires Institutionnels</a></h4>
          <p>De nombreuses institutions contribuent au DIBICA. Voir la liste des institutions affiliées ici.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/about/partners/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/pt/about/partners/">Parceiros Institucionais</a></h4>
          <p>Muitas instituições contribuem para o DIBICA. Veja uma lista de instituições participantes aqui.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/about/partners/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/sw/about/partners/">Washirika wa Taasisi</a></h4>
          <p>Taasisi nyingi zinachangia KAWAKIA. Angalia orodha ya taasisi za participante hapa.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
DONORS _________________________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/about/donor-list/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/about/donor-list/">Our Donors</a></h4>
          <p> Through their time and money, partners continue to make the work of the DACB possible. See a list of our partners here.</a></p>
</div>
{% endif %}

      </ul>
    </nav>
  </div>
{% endif %}
{% endif %}
