{% if page.sidebar %}
{% if page.sidebar.nav %}
  <div class="sidebar sticky">

  <div class="language-switch2">{{ site.t[page.lang].page-available }}</div>
  <div class="language-switch"><div class="lang-head">
  {% if page.languages-available[3] != ' ' %}<div class="sw"><a href="/sw{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[3] | upcase | strip }}</a></div>{% endif %}
  {% if page.languages-available[2] != ' ' %}<div class="pt"><a href="/pt{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[2] | upcase | strip }}</a></div>{% endif %}
  {% if page.languages-available[1] != ' ' %}<div class="fr"><a href="/fr{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[1] | upcase | strip }}</a></div>{% endif %}
  {% if page.languages-available[0] != ' ' %}<div class="en"><a href="{{ page.url | relative_url | remove_first:'en/' | remove_first:'fr/' | remove_first:'pt/' | remove_first:'sw/' }}" rel="permalink">{{ page.languages-available[0] | upcase | strip }}</a></div>{% endif %}
  </div></div>

  <nav class="nav__list2">
    {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.t[page.lang].sidebar_label }}</label>
    <ul class="nav__items2">

<!--  ____________________________________________________________________________________________________
WRITERS & EDUCATORS ______________________________________________________________________________________ -->

{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/writers-educators/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/writers-educators/">Writers and Educators</a></h4>
          <p> If you are interested in teaching with or contributing to the DACB, you can find a list of resources here.</p>
</div>
{% endif %}
{% if page.lang == 'fr' %}
<div onClick="window.open( '{{ site.url }}/fr/resources/writers-educators/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/writers-educators/">Écrivains et Éducateurs</a></h4>
          <p> Si vous êtes intéressé à enseigner ou à contribuer au DACB, vous pouvez trouver une liste de ressources ici.</p>
</div>
{% endif %}
{% if page.lang == 'pt' %}
<div onClick="window.open( '{{ site.url }}/pt/resources/writers-educators/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/writers-educators/">Escritores e Educadores</a></h4>
          <p> Se você está interessado em ensinar ou contribuir com o DACB, você pode encontrar uma lista de recursos aqui.</p>
</div>
{% endif %}
{% if page.lang == 'sw' %}
<div onClick="window.open( '{{ site.url }}/sw/resources/writers-educators/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/writers-educators/">Waandishi na Waelimishaji</a></h4>
          <p> Ikiwa una nia ya kufundisha au kuchangia DACB, unaweza kupata orodha ya rasilimali hapa.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
RESEARCHERS ______________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/researchers/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/researchers/">Researchers</a></h4>
          <p> If you are interested in further research on African Christianity, you can find a list of useful resources here.</p>
</div>
{% endif %}
<!--  ____________________________________________________________________________________________________
VIDEOS ___________________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/video/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/video/">Videos</a></h4>
          <p>See a list of online videos about African Christianity here.</p>
</div>
{% endif %}

<!--  ____________________________________________________________________________________________________
LINKS ______________________________________________________________________________________________ -->
{% if page.lang == 'en' %}
<div onClick="window.open( '{{ site.url }}/resources/links/','_top' ); return false;" class="side-box-link">
        <h4><a href="{{ site.url }}/resources/links/">Links</a></h4>
          <p> View our constantly growing list of helpful online links here.</p>
</div>
{% endif %}

      </ul>
    </nav>
  </div>

{% endif %}
{% endif %}
