---
layout: archive
title: "Institution Sort"
permalink: /pt/stories/institution-sort/
lang: pt
languages-available:
  - en
  - fr
  - pt
  - sw
---
{% capture parent_lang %}{{ page.lang }}{% endcapture %}
{% assign sorted = site.pages | where: "index","primary" | sort:"institution" %}

{% for page in sorted %}
{% if page.title != empty %}
  {% include institution-single-index.html parent_lang=parent_lang %}
{% endif %}
{% endfor %}
<p style="padding-top:.5em;"><a href="#top" style="font-weight:normal;">{{ site.t[parent_lang].back_to_top }}</a></p>
