---
layout: single-full
title: "Our Projects"
permalink: /projects/
lang: en
languages-available:
  - en
  - fr
  - pt
  - sw
---
<div class="splash__wrapper">

    <div class="splash__item3">
      <div class="splash__item-teaser">
        <a href="/projects/women/"><img src="/assets/images/squares/sq-women.jpg"></a>
      </div>
      <div class="splash__item-body">
        <h2><a href="/projects/women/">{{ site.data.site-trans[page.lang].women }}</a></h2>
        {% if page.lang == 'en' %}
        <p>
          Women serve on the front lines of mission and are often catalysts of growth in African Christian communities. They serve as founders and pioneers, pastors, teachers, evangelists, prophets, deaconesses, and in women’s organizations and Mother’s Unions throughout the continent.
        </p>
        {% endif %}
        {% if page.lang == 'fr' %}
        <p>
          Les femmes servent en première ligne dans la mission et sont souvent des catalyseurs de la croissance des communautés chrétiennes africaines. Ils servent de fondateurs et de pionniers, de pasteurs, d’enseignants, d’évangélistes, de prophètes, de diaconesses, d’organisations de femmes et d’associations de mères dans l’ensemble du continent.
        </p>
        {% endif %}
        {% if page.lang == 'pt' %}
        <p>
          As mulheres servem nas linhas de frente da missão e são frequentemente catalisadoras do crescimento nas comunidades cristãs africanas. Eles servem como fundadores e pioneiros, pastores, professores, evangelistas, profetas, diaconisas e em organizações de mulheres e uniões de mães em todo o continente.
        </p>
        {% endif %}
        {% if page.lang == 'sw' %}
        <p>
          Wanawake hutumikia mstari wa mbele wa misheni na mara nyingi huwa vichocheo vya ukuaji katika jamii za Kikristo za Kiafrika. Wanatumika kama waanzilishi na waanzilishi, wachungaji, waalimu, wainjilishaji, manabii, mashemasi, na katika mashirika ya wanawake na Vyama vya Mama katika bara zima.
        </p>
        {% endif %}
      </div>
    </div>

    <div class="splash__item3">
      <div class="splash__item-teaser">
        <a href="/projects/music-art/"><img src="/assets/images/squares/sq-music-art.jpg"></a>
      </div>
      <div class="splash__item-body">
        <h2><a href="/projects/music-art/">{{ site.data.site-trans[page.lang].music-art}}</a></h2>
        {% if page.lang == 'en' %}
        <p>
          The work of artists and musicians is crucial in the creation of African expressions of worship and Christian practice – in church music, architecture, art and sculpture, liturgical vestments and utensils, textiles and weaving, metalwork and jewelry, ceramics, poetry, literature, and drama.
        </p>
        {% endif %}
        {% if page.lang == 'fr' %}
        <p>
          Le travail des artistes et des musiciens est essentiel à la création d’expressions africaines de culte et de pratiques chrétiennes - musique d’église, architecture, art et sculpture, vêtements et ustensiles liturgiques, textiles et tissage, ferronnerie et joaillerie, céramique, poésie, littérature et drame.
        </p>
        {% endif %}
        {% if page.lang == 'pt' %}
        <p>
          Le travail des artistes et des musiciens est essentiel à la création d’expressions africaines de culte et de pratiques chrétiennes - musique d’église, architecture, art et sculpture, vêtements et ustensiles liturgiques, textiles et tissage, ferronnerie et joaillerie, céramique, poésie, littérature et drame....
        </p>
        {% endif %}
        {% if page.lang == 'sw' %}
        <p>
          Kazi ya wasanii na wanamuziki ni muhimu katika uundaji wa ibada za Kiafrika za ibada na mazoea ya Kikristo - katika muziki wa kanisa, usanifu, sanaa na uchongaji, vazi la liturujia na vyombo, nguo na weave, kazi za chuma na mapambo, kauri, ushairi, fasihi, na mchezo wa kuigiza.
        </p>
        {% endif %}
      </div>
    </div>

    <div class="splash__item3">
      <div class="splash__item-teaser">
        <a href="/projects/diaspora/"><img src="/assets/images/squares/sq-diaspora.jpg"></a>
      </div>
      <div class="splash__item-body">
        <h2><a href="/projects/diaspora/">{{ site.data.site-trans[page.lang].diaspora }}</a></h2>
        {% if page.lang == 'en' %}
        <p>
          As global migration increases and African churches send missionaries to evangelize foreign countries, the footprint of African Christianity expands beyond the borders of the continent. The work of African agents in the diaspora is a key component of the global missionary movement.
        </p>
        {% endif %}
        {% if page.lang == 'fr' %}
        <p>
          À mesure que la migration mondiale augmente et que les églises africaines envoient des missionnaires évangéliser des pays étrangers, le christianisme africain se déploie au-delà des frontières du continent. Le travail des agents africains de la diaspora est un élément clé du mouvement missionnaire mondial.
        </p>
        {% endif %}
        {% if page.lang == 'pt' %}
        <p>
          À medida que a migração global aumenta e as igrejas africanas enviam missionários para evangelizar países estrangeiros, a pegada do cristianismo africano se expande para além das fronteiras do continente. O trabalho dos agentes africanos na diáspora é um componente chave do movimento missionário global.
        </p>
        {% endif %}
        {% if page.lang == 'sw' %}
        <p>
          Kadiri uhamiaji wa ulimwengu unavyoongezeka na makanisa ya Kiafrika hutuma wamishonari kwenda kuinjilisha nchi za nje, mwendo wa Ukristo wa Kiafrika unapanuka zaidi ya mipaka ya bara. Kazi ya mawakala wa Kiafrika katika diaspora ni sehemu muhimu ya harakati ya umisheni ya ulimwengu.
        </p>
        {% endif %}
      </div>
    </div>

</div>
