---
layout: archive
permalink: /fr/sort/stories/tradition-sort2/
title: "Trier par Tradition: Indépendant"
author_profile: false
lang: fr
languages-available:
  - en
  - fr
  - pt
  - sw
---
{% capture parent_lang %}{{ page.lang }}{% endcapture %}
{% assign sorted = site.data.site-content | where: "index","primary" | sort: 'title' %}
<table class="sort"><tbody>
  <tr>
    <td><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/tradition-sort/">{{ site.data.site-trans[parent_lang].catholic }}</a></td>
    <td><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/tradition-sort2/">{{ site.data.site-trans[parent_lang].independent }}</a></td>
    <td><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/tradition-sort3/">{{ site.data.site-trans[parent_lang].orthodox }}</a></td>
    <td><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/tradition-sort4/">{{ site.data.site-trans[parent_lang].protestant }}</a></td>
    <td><a href="{{ page.lang | prepend: '/' | remove: '/en' }}/sort/stories/tradition-sort5/">{{ site.data.site-trans[parent_lang].ancient }}</a></td>
  </tr>
</tbody></table>

<h2 id="independent">{{ site.data.site-trans[parent_lang].independent }}</h2>
<table><thead>
<th width=35%>{{ site.data.site-trans[parent_lang].name }}</th>
<th width=25%>{{ site.data.site-trans[parent_lang].affiliation }}</th>
<th width=25%>{{ site.data.site-trans[parent_lang].country }}</th>
<th width=15%>{{ site.data.site-trans[parent_lang].languages }}</th>
</thead></table>
{% for page in sorted %}
{% if page.tradition == "independent" %}
{% include json-category-index.html parent_lang=parent_lang %}
{% endif %}{% endfor %}
{% include back-to-top %}
