---
layout: archive
title: "Souvenirs Recueillis"
permalink: /fr/sort/stories/collected-memories/
lang: fr
languages-available:
  - 'en'
  - 'fr'
  - ' '
  - ' '
---
<p>La tâche urgente du DACB est de retrouver et de conserver la mémoire des individus qui ont joué un rôle dans la naissance et la croissance du christianisme africain. Cet index sert de dépôt de souvenirs qui ne sont pas considérés comme des biographies complètes.
<br><br>
<b>Avertissement: Il s'agit d'une collection de témoignages et de récits fragmentaires, y compris des nécrologies et des matériaux primaires, qui manquent parfois de sources suffisamment vérifiables du point de vue scientifique.</b></p>
<br>

{% capture parent_lang %}{{ page.lang }}{% endcapture %}
{% assign sorted = site.data.site-content | where: "memory","memory" | where: "lang","fr" | sort: 'upload' | reverse %}

{% for item in sorted %}
{% include json-memory-index.html parent_lang=parent_lang %}
{% endfor %}
