<!----------------------------------------------------------------------------------------------------->
<!--#### ACCORDION STARTS HERE------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="tab">
<input class="accordion" id="####" type="checkbox" name="tabs">  <!-- CHANGE XXXX TO YEAR -->
<label class="accordion" for="####">####</label> <!-- CHANGE XXXX TO YEAR -->
<div class="tab-content">

<!-- Paste Code for Vol. X, No. X Section Here -->

<!-- Paste Code for Vol. X, No. X Section Here -->

<!-- Paste Code for Vol. X, No. X Section Here -->

</div> </div>
<!----------------------------------------------------------------------------------------------------->
<!--#### ACCORDION ENDS HERE--------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->



<!-- Vol. X, No. X  Section Starts Here------------------------->
<!-------------------------------------------------------------->
    <div class="side-box"><img src="{{site.url}}/resources/journal/XX/XX.jpg" style="float:left;padding-right:1em;"> <!-- CHANGE TO CORRECT ICON PATH -->
        <h3>#.# - Month YEAR</h3>  <!-- CHANGE TO CORRECT INFORMATION -->
        <p style="font-size:.9em;">
          <b>Focus:</b><br>
          1. <i>Focus Article 1</i> by Author <br> <!-- CHANGE TO CORRECT INFORMATION -->
          2. <i>Focus Article 2</i> by Author <br> <!-- CHANGE TO CORRECT INFORMATION -->
          Biographies by Author, Author, and Author <!-- CHANGE TO CORRECT INFORMATION -->
        <br><br>
          For direct reading, view or download our
          <a href="{{site.url}}/resources/journal/XX/XX.pdf"> <!-- CHANGE TO CORRECT E-JOURNAL PATH -->
          e-journal</a> version.
        <br><br>
          The following documents, in booklet ("book fold") format, are ready for local
          printing and binding or stapling. The separate cover file can be downloaded
          <a href="{{site.url}}/resources/journal/XX/XX.docx">here</a> (Word) <!-- CHANGE TO CORRECT COVER-WORD PATH -->
          or <a href="{{site.url}}/resources/journal/XX/XX.pdf">here</a> (PDF). <!-- CHANGE TO CORRECT COVER-PDF PATH -->
        <br><br>
          <b>A4 format:</b> <a href="{{site.url}}/resources/journal/XX/XX.pdf">Booklet, no cover</a> <!-- CHANGE TO CORRECT A4 BOOKLET PATH -->
        <br>
          <b>8.5 x 11 format:</b> <a href="{{site.url}}/resources/journal/XX/XX.pdf">Booklet, no cover</a> <!-- CHANGE TO CORRECT 8.5X11 BOOKLET PATH -->
        </p>
    </div>
  <!-------------------------------------------------------------->
  <!-- Vol. X, No. X  Section Ends Here--------------------------->
