---
---

<!DOCTYPE html>
<html lang="{{ page.lang | slice: 0,2 | default: "en" }}" class="no-js">
  {% include head.html %}
  <body class="layout--archive" style="zoom: 1; margin-bottom: 354px;">
    <!-- MASTHEAD -->
    {% include masthead-{{page.lang}}.html %}

    <!-- CONTENT -->
    {% if page.slider %}
      {% include slider.html height="30" unit="%" transition="fade" duration="4" %}
    {% endif %}

    {{ content }}

    <!-- FOOTER -->
    {% include footer.html %}

    <!-- SCRIPTS -->
    {% include scripts.html %}
  </body>
</html>
