---
layout: default
---
<div id="main" role="main"><a name="top"></a>
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

<!-- NAME(S), DATE, AFFILIATION, COUNTRY -->
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>

          {% include classic-note.html %}

          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
          <p class="page__meta">
            {% if page.alternate != '' %}
              <strong>{{ site.data.site-trans[page.lang].alternate }}: {{ page.alternate | markdownify | remove: "<p>" | remove: "</p>" }}</strong>
              <br/>
            {% endif %}
            {{ page.date }}
          <br/>
            {% assign a1 = page.affiliation[0] %} {% assign a2 = page.affiliation[1] %} {% assign a3 = page.affiliation[2] %}
            {% if a1 != nil %}{{ site.data.aff-trans[a1][page.lang] }}{% endif %}
            {% if a2 != nil %}, {{ site.data.aff-trans[a2][page.lang] }}{% endif %}
            {% if a3 != nil %}, {{ site.data.aff-trans[a3][page.lang] }}{% endif %}
          <br/>
            {% assign c1 = page.country[0] %}{% assign c2 = page.country[1] %}{% assign c3 = page.country[2] %}
            {% if c1 != nil %}{{ site.data.country-trans[c1][page.lang] }}{% endif %}
            {% if c2 != nil %}, {{ site.data.country-trans[c2][page.lang] }}{% endif %}
            {% if c3 != nil %}, {{ site.data.country-trans[c3][page.lang] }}{% endif %}
          <br/>
          </p>
        </header>
      {% endunless %}

{% comment %}
  <!--
  At the moment the first build stage of the site took 48 minutes on my machine.
  47.5 of those minutes were spent rendering ~2500 bios, which means each render of
  this layout takes around 1 second. Why? Because of this commented code.

  This commented code sorts every single page on the entire site by its title and
  then performs ~15 substring removal operations on every single title, and then
  another comparison operation too.

  Right now this feature is temporarily removed to improve the build time of the site.
  -->

  <!-- ALTERNATE VERSION CHECK AND DISPLAY -->
  {% if page.title contains "(A)" %}
    {% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}
    {% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}
    <div class="alternate">
      {{ site.data.site-trans[page.lang].other-available }}
      {% for page in sorted %}
        {% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}
        {% if short-title == current-short and page.url != current-url %}
          <a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>
        {% else %}
          {% continue %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if page.title contains "(B)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(C)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(D)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(E)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(F)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(G)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(H)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(I)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
  {% if page.title contains "(J)" %}{% assign current-short = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% assign sorted = site.pages | where: "index","primary" | sort: 'title' %}{% assign current-url = page.url %}<div class="alternate">{{ site.data.site-trans[page.lang].other-available }}{% for page in sorted %}{% assign short-title = page.title | remove:'(A)'| remove:'(B)'| remove:'(C)'| remove:'(D)'| remove:'(E)'| remove:'(F)'| remove:'(G)'| remove:'(H)'| remove:'(I)'| remove:'(J)'| remove:'(K)'| remove:'(L)'| remove:'(M)'| remove:'(N)'| remove:'(O)'| remove:'(P)' %}{% if short-title == current-short and page.url != current-url %}<a href="{{ page.url | relative_url }}">{{ page.title | remove: short-title }}</a>{% else %} {% continue %}{% endif %}{% endfor %}</div>
  {% endif %}
{% endcomment %}

      <section class="page__content" itemprop="text">
        {% if page.image %}<div><img src="{{ page.image }}" class="bio"></div>{% endif %}
        <!-- CONTENT -->
        {{ content }}
      </section>
    </div>
  </article>
</div>
<script>
  (async () => {
    const asyncLightweightSearch = async (query) =>
      new Promise((resolve) => {
        if (window.getLightweightSearchResults) resolve(getLightweightSearchResults(query, -1));
        const checkInterval = setInterval(() => {
          if (window.getLightweightSearchResults) {
            clearInterval(checkInterval);
            resolve(getLightweightSearchResults(query));
          }
        }, 250);
      });  
  
    const cleanPageTitle = (title) => {
      const letters = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
      letters.forEach((letter) => {
        title = title.split(`(${letter})`).join("");
      });
      title = title.trim();
      return title;
    }
    
    let pageTitle = `{{ page.title }}`;
    pageTitle = cleanPageTitle(pageTitle);
  
    asyncLightweightSearch(pageTitle).then((e) => {
      let alternates = e.filter(e => cleanPageTitle(e.title).toLowerCase() === pageTitle.toLowerCase());
      if(alternates.length > 0) {
        const alternatesElm = document.createElement('div');
        alternatesElm.classList.add('alternate');
        alternatesElm.innerHTML = "{{ site.data.site-trans[page.lang].other-available }} " + alternates.map(e => `<a href="${e.url}">${e.title.split(pageTitle).join("").trim()}</a>`).join(' &bull; ');
  
        const afterElm = document.querySelector('.page__content');
        afterElm.parentElement.insertBefore(alternatesElm, afterElm);
      }
    })
  })();
</script>