/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include full();
  @include clearfix;
  /* sticky footer fix start */
  position: absolute;
  width: 100%;
  clear: both;
  height: auto;
  z-index: -1;
  /* sticky footer fix end */
  color: mix(#fff, $lighter-gray, 25%);
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  background-color: $darker-gray;
  border-top: 0px solid $darker-gray;

  footer {
    @include container;
    @include clearfix;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;

    @include breakpoint($medium-wide) {
      max-width: $large;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .fa {
    color: mix(#fff, $gray, 25%);
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
  color: $gray;
  padding-top: 2em;
  clear: both;
  text-align: left;

  & .box_one {
    display:block;
    height:7em;
    line-height:7em;
    vertical-align: middle;
    float:left;
    width: 20%;
  }

  & .box_two {
    margin-top:2%;
    float: left;
    display: block;
    width: 60%;
    text-align:center;
  }

  & .box_three {
    display:block;
    height:7em;
    line-height:7em;
    vertical-align: middle;
    float:right;
    width: 20%;
  }
}

.page__footer-follow {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }
}

/* ==========================================================================
   FOOTER BOXES
   ========================================================================== */
   .foot-box {
     display: block;
     float:left;
     width: 100%;
   }
   .box {
     display: block;
     float: left;
     width: 50%;
     height: 12em;
     margin: 1em 0em 1em 0em;
     padding: 0 2.5em 0 0;
     text-align:center;
     h3 { color: $yellow; margin-top:0px; text-transform:uppercase; text-align:center;}
     &__end{
       display: block;
       float: right;
       width: 50%;
       height: 12em;
       margin: 1em 0em 1em 0em;
       padding: 0 0 0 2.5em;
       text-align:center;
       border-left: 2px solid $yellow;
       h3 { color: $yellow; margin-top:0px; text-transform:uppercase; text-align:center;}
     }
   }
   .facebook {
     display: inline;
     text-align: center;
     padding-right: 2em;
     opacity: .3;
     &:hover { opacity: 1;}
   }
/* ==========================================================================
   FOOTER & AWARD BOXES RESPONSIVE
   ========================================================================== */

@media all and (max-width : $medium-wide) {

  .foot-box {
  }
  .box {
    clear: both;
    padding: 2em 0;
    width: 95%;
    height: auto;
    float: left;
    margin-left: 1em;
    margin-right: 1em;

    &__end {
      clear: both;
      padding: 2em 0;
      width: 95%;
      height: auto;
      float: left;
      margin-left: 1em;
      margin-right: 1em;
      border-top: 2px solid $yellow;
      border-left: 0px;
    }
  }
.page__footer footer {
  margin-top: 2em;
  padding: 0 2em 0em 2em;
 }
}

.awards-wrap {
    background-color: $black;
    display: block;
    height: 4em;
    width: 100%
}

.awards {
  display: block;
  height: 4em;
  line-height: 4em;
  padding: 0 3em 0;
  margin: auto;
  max-width: $large;
  text-align: center;

  & a {display: block !important; float: left !important;
    & .awards__icon {
      display: block;
      margin: auto;
      float: none;
      padding: .5em 0em;
      max-height: 4em;
      transition: .25s;
      &:hover {opacity: .6;}
    }
  }
  & a:first-child {float: left !important;
    & .awards__icon {
      display: inline-block;
      margin: 0;
      float:inherit;
      padding: .5em 0em;
      max-height: 4em;
      transition: .25s;
      &:hover {opacity: .6;}
    }
  }
  & a:last-child {float: right !important;
    & .awards__icon {
      display: inline-block;
      margin: 0;
      float:inherit;
      padding: .5em 0em;
      max-height: 4em;
      transition: .25s;
      &:hover {opacity: .6;}
    }
  }
}
