/* ==========================================================================
   MASTHEAD
   ========================================================================== */
.logo {
  display: inline-block;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 0;
  width: 22em;
  padding-left: 0px;
 	}

.masthead-lang {
     position: relative;
     padding: .25em;
     display:inline-block;
     float: right !important;
     height: 1.5em !important;
     clear: both;
   }
   .masthead__inner-wrap-left {
     @include container;
     @include clearfix;
     display: -webkit-box;
     display: flex;
     float: right;
     margin-right: 0;
     padding-right: 0em;
     -webkit-box-pack: justify;
      justify-content: space-between;
     font-family: $sans-serif-narrow;
     }
 .masthead__inner-wrap-b {
   @include container;
   @include clearfix;
   display: -webkit-box;
   background-color: #000;
   display: flex;
   -webkit-box-pack: justify;
    justify-content: space-between;
  padding: 1em;
  width: 100%;
   font-family: $sans-serif-narrow;
   }

   .masthead-banner-trans {
     position: relative;
     width: 100%;
     clear: both;
     }

   .masthead-banner {
     background-image: url('/assets/images/masthead-back.jpg');
     background-repeat: repeat-x;
     background-size: cover;
     background-position-y: -15px;
     position: relative;
     width: 100%;
     clear: both;
     z-index: 1;
     }

   .drop {
     background-image: url('/assets/images/drop.png');
     background-size: 10px 10px;
     background-position:right center;
     background-repeat:no-repeat;
     padding-right: 15px;
     &:hover {
       background-image: url('/assets/images/drop-hover.png');
     }
   }

   .search-image {
     height: 1.25em;
     width: 1.25em;
     margin: auto;
     background-image: url('/assets/images/search.png');
     background-size: 1.25em 1.25em;
   }
   .search-image:hover {
     height: 1.25em;
     width: 1.25em;
     margin: auto;
     background-image: url('/assets/images/search-hover.png');
     background-size: 1.25em 1.25em;
   }


/* ==========================================================================
  LANGUAGE BAR
  ========================================================================== */
.masthead-bar-en {
  background-image: url("/assets/images/en-textile.jpg")!important;
  background-repeat: repeat !important;
   position: relative;
   width: 100%;
   height: 1em;
   clear: both;
   z-index: 1;
   }
  .masthead-bar-fr {
   background-image: url("/assets/images/fr-textile.jpg")!important;
   background-repeat: repeat !important;
    position: relative;
    width: 100%;
    height: 1em;
    clear: both;
    z-index: 1;
    }
.masthead-bar-pt {
    background-image: url("/assets/images/pt-textile.jpg")!important;
    background-repeat: repeat !important;
     position: relative;
     width: 100%;
     height: 1em;
     clear: both;
     z-index: 1;
     }
  .masthead-bar-sw {
    background-image: url("/assets/images/sw-textile.jpg")!important;
    background-repeat: repeat !important;
     position: relative;
     width: 100%;
     height: 1em;
     clear: both;
     z-index: 1;
    }



.masthead {
  background: #333300;
  position: relative;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
     justify-content: space-between;
    padding: 0em 2em 0em;
    font-family: $sans-serif-narrow;

    @include breakpoint($large) {
      max-width: $large ;
    }

    nav {
      z-index: 10;
      float: right;
      padding-top: 2em;
    }

    a {
      text-decoration: none;
    }
  }
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: .8em;
    background-color: white;
    margin-top: .35em;
}

.site-title {
  display: -webkit-box;
  display: flex;
  padding: 0.5rem 0;
  align-self: stretch;
  -webkit-box-align: center;
        align-items: center;
  font-weight: bold;
  z-index: 20;
}

.masthead__menu {
  width: 100%;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

nav ul ul.side {
    display: block !important;
    position: relative;
  }
nav ul ul.side li {
   display: block !important;
   list-style-type: none;
   font-family: $sans-serif;
  }
nav ul ul.side li a{
   display: block !important;
  list-style-type: none;
  font-family: $sans-serif;
  padding: 0;
  margin: 0;
  }

/* ==========================================================================
   DROPDOWN
   ========================================================================== */
li.dropdown-search {
    float: right;
    margin-top: .4em !important;
    margin-right: .5em;
    padding-left: .5em;
}

input, textarea, select {
 font-size: .7em;
 padding: .2em;
}

.toggle,
[id^=drop] {
	display: none;
}

label {
    display: none;
    margin-bottom: 0;
    color: #494e52;
    cursor: pointer;
    font-family: ".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
  z-index: 1;
  font-family: ".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  width: 100%
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
  z-index: 1;
  float: right;
	}

li.second {
  background-color: #f9f9f9;
  color: #303030;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li.second a{
  background-color: #f9f9f9;
  color: #303030
}
li.second a:hover{
  background-color: #e7e7e7;
  color: #e0c74f
}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	}

/* Styling the links */
nav a {
	display:block;
	padding:1.15vw;
	color:#FFF;
	font-size: .7rem;
	text-decoration:none;
}


nav ul li ul li:hover {
  background-color: #f2f3f3;
  color: #e0c74f; }

/* Background color change on Hover */
nav a:hover {
	color: #e0c74f;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul{
	display: none;
	position: absolute;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */
	left:170px;
}


/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : $medium) {

  .masthead-banner {
    background-image: url('/assets/images/masthead-back.jpg');
    background-repeat: repeat-x;
    background-size: 100em;
    background-color: #78261b;
    background-position-y: -15px;
    position: relative;
    width: 100%;
    clear: both;
    z-index: 1;
    }

  .logo {
    display: inline-block;
    padding: 1.25em;
    margin-left: auto;
    margin-right: auto;
	}

  .flex {
    float:left;
    clear:both;
	}

  .masthead__inner-wrap {
      flex-wrap: wrap;
    }

    .masthead__inner-wrap nav {
        padding-top: 0;
      }

    nav ul {
    	padding:0;
    	margin:0;
    	list-style: none;
    	position: relative;
      z-index: 1;
      float: none;
    	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
    padding-bottom: 1em;
	}

  .toggle-m + a,
	.menu {
		display: none;
    padding-bottom: 1em;
    text-align: center;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding:14px 14px;
    background-color: #303030;
		color:#FFF;
		font-size: .7em;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		color: #e0c74f;
	}
  .toggle-m {
		display: block;
		padding:14px 14px;
		color:#FFF;
		font-size: .7em;
		text-decoration:none;
		border:none;
    text-align: center;
    text-transform:uppercase;
	}

	.toggle-m:hover {
		color: #e0c74f;
	}
	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
    border-bottom: 1px #fff solid !important;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
	}

	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 14px;
		color:#FFF;
		font-size: .7em;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: none;
	}

	/* Hide Dropdowns by Default */
  nav ul ul.side {
      display: block !important;
    }

	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
