/* ==========================================================================
   GOOGLE SEARCH BAR
========================================================================== */
.gsc-results-wrapper-overlay  {
  top: 27% !important;
  width: 86% !important;
  top: 25% !important;
  left: 7% !important;
  height: 67% !important;
}
.gsc-control-cse .gsc-option-menu-container {
    width: 100px !important;
}
.gsst_a .gscb_a {
    color: #bdc1c4 !important;
}
.gsst_a {
  padding: 0px !important;
}
.gsib_a input, textarea, select {
    color: #494e52;
    border: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0 0px 0px rgba(0,0,0,0.125) !important;
}
form.gsc-search-box {
    width: 80% !important;
}
.gsib_a {
    padding: 4px !important;
}
.gsib_b {
    padding:  0px 2px !important;
}

.gsc-search-button-v2 {
    border-color: #ecc068 !important;
    background-color: #ecc068 !important;
}
.gsc-search-button-v2:hover {
    border-color: #494e52 !important;
    background-color: #494e52 !important;
}
.feedback h2 {
  margin: 0;
}

/* ==========================================================================
   JOURNAL
========================================================================== */
.journal {
  float:left;
  clear:both;
  width:100%;

  &-box-first {
    display:inline-block;
    width:50%;
    float: left;
    clear:none;
    padding:0 1em 2em 0;
    }
  &-box-second {
    display:inline-block;
    width:50%;
    float: left;
    clear:none;
    padding:0 0 2em 1em;
    }
  }

@media all and (max-width : $medium) {
  .journal {
    float:left;
    clear:both;
    width:100%;

    &-box-first {
      width:100%;
      padding:0 0 1em 0;
      }
    &-box-second {
      width:100%;
      padding:0 0 1em 0;
      margin-bottom: 1em;
      }
    }
}


/* ==========================================================================
 CLASSIC NOTES
========================================================================== */

.classic {
  min-height: 6em;
  line-height: 5em;
  width: 100%;
  margin-top: -1em;
  margin-bottom: 1em;
  background-image: url(/assets/images/masthead-back.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  background-color: #78261b;
  border: 2px solid $yellow;

  &__logo {
    background-image: url(/assets/images/logo-en.gif);
    background-size: 13em;
    position: absolute;
    width: 4.75em;
    height: 4.75em;
    margin: .5em 1em .5em 1em;
  }

  &__text {
    color: $yellow;
    font-weight: normal;
    text-decoration: none;
    font-size: $type-size-4;
    margin: .5em 1em .5em 8.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    &:hover {text-decoration:none;}
  }
}
/* ==========================================================================
   INTERIOR SPLASH PAGE
   ========================================================================== */
.splash__wrapper {
  clear: both;
  display: table;
  margin-top:2em;
  margin-bottom:2em;

  .splash__item2 {
    padding: 1rem;
    margin-bottom: 1em !important;
    a {color: $black;}
    &:hover { a {color: $yellow;} .splash__item-teaser {opacity: .75;}}
    @include breakpoint($medium) { margin-bottom: 0; @include gallery(6 of 12); }
  }

  .splash__item3 {
    padding: 1em 0em;
    margin-bottom: 1em !important;
    a {color: $black;}
    &:hover { a {color: $yellow;} .splash__item-teaser {opacity: .75;}}
    @include breakpoint($medium) { margin-bottom: 0; @include gallery(4 of 12); }
  }

}

.splash__item-teaser {
  display: block;
  width: 100%;
  height: 10em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  transition: .5s;
  & img {
    width: 100%;
    transform: translatey(-10%);
  }
}

.splash__item-body {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: justify;
  padding-top: .5em;
  padding-bottom: 1.5em;
  float: left;
  transition: .5s;
  & h2 {text-align:center !important;}
}



/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */
/* ACCORDION */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: $darker-gray;
  overflow: hidden;
  padding: 1em 0em 1em 0em;
}
input.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.accordion {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  background-color: $lighter-gray;
  margin-bottom: .5em;
  margin-top: -.5em;
  font-family: ".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content h3 {
  margin: 0em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

.tab-content p {
  margin: 1em;
  display: block;
  overflow: hidden;
}
/* :checked */
input.accordion:checked ~ .tab-content {
  max-height: 1000000em;
}
/* Icon */
label.accordion::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input.accordion[type=checkbox] + label.accordion::after {
  content: "+";
}
input.accordion[type=radio] + label.accordion::after {
  content: "\25BC";
}
input.accordion[type=checkbox]:checked + label.accordion::after {
  transform: rotate(315deg);
}
input.accordion[type=radio]:checked + label.accordion::after {
  transform: rotateX(180deg);
}

/* PAGE */
@media all and (max-width : $medium-wide) {
  #main {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }
}

#main {
  @include container;
  @include clearfix;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;

  @include breakpoint($large ) {
    max-width: $large ;
  }
}

.page {
  @include breakpoint($medium-wide) {
    @include span(9 of 12 last);
    @include prefix(0.5 of 12);
    @include suffix(2 of 12);
    margin-bottom: 2em;
    background-color: #fff;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em !important;
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

.page-full {
  width: 100% !important;
  margin-bottom: 2em;
  background-color: #fff;
  padding-right: 0em;
  padding-top: 1em;
  padding-bottom: 0em;
  padding-left: 0em !important;
  h1 {text-align: center;}

  }

.page__title {
  margin-top: 0;
  line-height: 1;

  &__project {
    margin-top: 0;
    line-height: 1;
    padding: 0 0 .25em 0;
    border-bottom: 1px solid #f2f3f3;
  }

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page__content {

  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  p, dl {
    font-size: $type-size-4;
  }

  li p {
    margin-top: 0px;
    font-size: $type-size-3b;
  }

  ul li {
    font-size: $type-size-4;
  }
  /* paragraph indents */
  p {
    margin: $indent-var 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #ecc068;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: intro 0.3s both;
            animation: intro 0.3s both;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($medium-wide) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-1;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($medium-wide) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  color: mix(#fff, $gray, 25%);
  font-family: $sans-serif;
  font-size: $type-size-5;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}


/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  -webkit-transition: $global-transition;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($medium-wide) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($medium-wide) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($medium-wide) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}


/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  @include breakpoint($medium-wide) {
    @include pre(2.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}
