/* ==========================================================================
   TABLES
   ========================================================================== */

   table.country {
     table-layout: fixed;
     margin-bottom: 0em;
     width: 100%;
     background-color: $lighter-gray;
     font-family: $global-font-family;
     font-size: $type-size-7;
     border-collapse: collapse;
     border: 1px solid $light-gray;
   }

   table.country td,th {
     border: none;
   }

table {
  table-layout: fixed;
  margin-bottom: 0em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 0em;
  }
}

thead {
  table-layout: fixed;
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  word-wrap: break-word;
}

tr, td, th {
  vertical-align: middle;
}
