/* ==========================================================================
   TABLES
   ========================================================================== */
.graph-right {
  padding: 5px;
  background: url(/images/datasheets/100px-grid.jpg);
  background-size: 100px 100px;
  background-repeat: repeat;
  border: 0px solid #fff;
}

.graph-left {
  padding: 5px;
  text-align: right;
  border-left: 0px solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
}
.sort {
  width: 100%;
  text-align: center;
  font-size: $type-size-4;

  & tbody,
  tr {
    border: 0px;
  }
  tr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &::after {
      content: '';
      flex: auto;
    }
  }
  & td {
    border: 0px;
    padding: 0.25em 0.75rem;
  }
  & td a {
    display: block;
    width: 100%;
  }
}

.country-data {
  border: 0px;
  font-size: $type-size-3b;
  background-color: $lighter-gray;
  border: 1px solid #bdc1c4;

  & tbody,
  td,
  th {
    display: inline-block;
    vertical-align: top;
    border: 0px;
  }
  & p {
    margin-bottom: 0.6em;
  }
}

table.country {
  table-layout: fixed;
  margin-bottom: 0em;
  width: 100%;
  background-color: $lighter-gray;
  font-family: $global-font-family;
  font-size: $type-size-7;
  border-collapse: collapse;
  border: 1px solid $light-gray;
}

table.country td,
th {
  border: none;
}

table {
  table-layout: fixed;
  margin-bottom: 0em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 0em;
  }
}

thead {
  table-layout: fixed;
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  word-wrap: break-word;
}

tr,
td,
th {
  vertical-align: middle;
}
