/* ==========================================================================
   TABLES
   ========================================================================== */
.sort {
  width: 100%;
  text-align: center;
  font-size: $type-size-5;

  & tbody,tr {
    border: 0px;
  }
  & td {
    border: 0px;
    padding: .25em;
  }
  & td a {
    display: block;
    width: 100%;
  }
}

.country-data {
  border: 0px;
  font-size: $type-size-3b;
  background-color: $lighter-gray;
  border: 1px solid #bdc1c4;

  & tbody,td,th {
    display: inline-block;
    vertical-align: top;
    border: 0px;
  }
  & p {
    margin-bottom: .6em;
  }
}

   table.country {
     table-layout: fixed;
     margin-bottom: 0em;
     width: 100%;
     background-color: $lighter-gray;
     font-family: $global-font-family;
     font-size: $type-size-7;
     border-collapse: collapse;
     border: 1px solid $light-gray;
   }

   table.country td,th {
     border: none;
   }

table {
  table-layout: fixed;
  margin-bottom: 0em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 0em;
  }
}

thead {
  table-layout: fixed;
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  word-wrap: break-word;
}

tr, td, th {
  vertical-align: middle;
}
